<!--form action="/bookmarks/<%= @bookmark.id %>"method="post">
<input type="hidden" name="_method" value="put">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type ="text" name="url" value="<%= @bookmark.url %>">
  <button>update</button>
</form>-->

<%= form_tag "/bookmarks/#{@bookmark.id}", method: 'put' do %>
<input type ="text" name="url" value="<%= @bookmark.url %>">
 <button>update</button>
<% end %>

<%#= form_for @bookmark do %>
<!--input type ="text" name="url" value="<%= @bookmark.url %>"> <button>update</button>-->
<%# end %>